*.jar
**/*.baseDir.ts
.idea
.grunt
.sass-cache
.tscache
/bower_components/
/build/
!/build/proteus.d.ts
/demo/libs/
/docs/
/lib/
/nbproject/private/
/node_modules/
/npm-debug.log
/reports/
/selenium-debug.log
/src/main/coffee/**/*.js
/src/main/ts/**/*.js
/src/main/ts/**/*.js.map
/src/test/coffee/**/*.js
/src/test/ts/**/*.js
/src/test/ts/**/*.js.map
/test/nightwatch/report
/test/nightwatch/screenshots
/typings/
_SpecRunner.html
CHANGELOG.md
init-git.*
